# Scikit-Learning 
missing value imputation using scikit - learn
for numeric and categorical variables and data

In [86]:
#Trnasformer for missing values

In [87]:
import numpy as np 
import pandas as pd

In [88]:
from sklearn.impute import SimpleImputer

In [89]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
print('Shape of train df=',train.shape)
print('Shape of test df=',test.shape)

Shape of train df= (1460, 81)
Shape of test df= (1459, 80)

In [90]:
train.head(5)
#saleprice is our target label

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [91]:
X_train=train.drop(columns="SalePrice")
y_train=train['SalePrice']
print('shape of  X_train df =',X_train.shape)
print("shape of y_train df=",y_train.shape)

shape of  X_train df = (1460, 80)
shape of y_train df= (1460,)

In [92]:
X_train.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal

In [93]:
y_train.head(3)

0    208500
1    181500
2    223500
Name: SalePrice, dtype: int64

# Numerical missing value imputation

In [94]:
num_vars=X_train.select_dtypes(include=['int64','float64']).columns
num_vars

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [95]:
X_train[num_vars].isnull().sum()

Id                 0
MSSubClass         0
LotFrontage      259
LotArea            0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
MasVnrArea         8
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BsmtFullBath       0
BsmtHalfBath       0
FullBath           0
HalfBath           0
BedroomAbvGr       0
KitchenAbvGr       0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
dtype: int64

In [96]:
imputer_mean=SimpleImputer(strategy='mean')
# if i want to insert manual value then use constant 
imputer_mean.fit(X_train[num_vars])

SimpleImputer()

#SimpleImputer(
    *,
    missing_values=nan,
    strategy='mean',
    fill_value=None,
    verbose=0,
    copy=True,
    add_indicator=False,
)

In [97]:
imputer_mean.statistics_

array([7.30500000e+02, 5.68972603e+01, 7.00499584e+01, 1.05168281e+04,
       6.09931507e+00, 5.57534247e+00, 1.97126781e+03, 1.98486575e+03,
       1.03685262e+02, 4.43639726e+02, 4.65493151e+01, 5.67240411e+02,
       1.05742945e+03, 1.16262671e+03, 3.46992466e+02, 5.84452055e+00,
       1.51546370e+03, 4.25342466e-01, 5.75342466e-02, 1.56506849e+00,
       3.82876712e-01, 2.86643836e+00, 1.04657534e+00, 6.51780822e+00,
       6.13013699e-01, 1.97850616e+03, 1.76712329e+00, 4.72980137e+02,
       9.42445205e+01, 4.66602740e+01, 2.19541096e+01, 3.40958904e+00,
       1.50609589e+01, 2.75890411e+00, 4.34890411e+01, 6.32191781e+00,
       2.00781575e+03])

In [98]:
imputer_mean.transform(X_train[num_vars])

array([[1.000e+00, 6.000e+01, 6.500e+01, ..., 0.000e+00, 2.000e+00,
        2.008e+03],
       [2.000e+00, 2.000e+01, 8.000e+01, ..., 0.000e+00, 5.000e+00,
        2.007e+03],
       [3.000e+00, 6.000e+01, 6.800e+01, ..., 0.000e+00, 9.000e+00,
        2.008e+03],
       ...,
       [1.458e+03, 7.000e+01, 6.600e+01, ..., 2.500e+03, 5.000e+00,
        2.010e+03],
       [1.459e+03, 2.000e+01, 6.800e+01, ..., 0.000e+00, 4.000e+00,
        2.010e+03],
       [1.460e+03, 2.000e+01, 7.500e+01, ..., 0.000e+00, 6.000e+00,
        2.008e+03]])

In [99]:
X_train[num_vars] =imputer_mean.transform(X_train[num_vars])

test[num_vars]    =imputer_mean.transform(test[num_vars])

In [100]:
test[num_vars].isnull().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
MasVnrArea       0
BsmtFinSF1       0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
TotRmsAbvGrd     0
Fireplaces       0
GarageYrBlt      0
GarageCars       0
GarageArea       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
dtype: int64

# categorical missing value imputation

In [ ]:
cat_vars=X_train.select_dtypes(include=["O"]).columns

In [ ]:
cat_vars

In [ ]:
X_train[num_vars].isnull().sum()

In [ ]:
imputer_mode=SimpleImputer(strategy="most_frequent")
imputer_mode

In [ ]:
imputer_mode.fit(X_train[cat_vars])

In [ ]:
X_train[cat_vars]=imputer_mean.transform(X_train[num_vars])
test[num_vars]=imputer_mean.transform(test[num_vars])

In [ ]:
# from other source yt

In [ ]:
import pandas as pd

In [ ]:
# These are the headers which you need to link to your dataset.
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
data=pd.read_csv('car_dataset.data',names = headers)
data.head(10)

In [ ]:
data.replace("?",np.nan,inplace=True)

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
import numpy as np

imputer_mean=SimpleImputer( missing_values=np.nan, strategy='mean')  #making a variable 

imputer_mean.fit_transform(data[['normalized-losses','stroke','bore','horsepower','peak-rpm']]).astype('object')

In [ ]:
data[['normalized-losses','stroke','bore','horsepower','peak-rpm']]=imputer_mean.fit_transform(data[['normalized-losses','stroke','bore','horsepower','peak-rpm']]).astype('object')

In [ ]:
data.head(10)

In [ ]:
imputer_most_freq=SimpleImputer( missing_values=np.nan, strategy='most_frequent')

data[['num-of-doors']]=imputer_most_freq.fit_transform(data[['num-of-doors']]).astype('object')

In [ ]:
data.info()

In [ ]:
data.dropna(subset=['price'],axis=0,inplace =True)
data.reset_index(drop=True,inplace=True)

In [ ]:
data.info()