Standardisation= rescale the feature such as mean =0 and standard deviation =1 
the result of standardisation  is z called as z -score normalization 
if data follow normal distribution (gaussian distribution)
if the original distribution is normal then the standardised distribution will be normal 
if the original distri is skewed then the standardised disti of the variable will also be skewed 
  
  >z=x-u /std

In [ ]:
Normalization rescale the feature in fixed range btw 0 to 1 
normalization also called as min-max scaling 
if data doesnot follow normal dist(gaussian distribution )

# feature scaling 

min max scaler 
standard scaler 
max abs scaler 
robust scaler 
quantile transformer scaler 
power transformer scaler 
unit vector scaler

In [5]:
#Standardization and Normalization

In [28]:
import pandas as pd 
import seaborn as sns 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [16]:
df=sns.load_dataset("titanic")

In [27]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [13]:
df2=df[['survived','pclass','age','parch']]

In [21]:
df2.head()  #survived is a traget variable  #pclass age parch are independent features

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [25]:
df3=df2.fillna(df2.mean())
df3.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [23]:
X=df3.drop("survived",axis=1) #making dependable variable as vector 
y=df3['survived']           
print('shape of x =',X.shape)
print('shape of x =',y.shape)

shape of x = (891, 3)
shape of x = (891,)

In [32]:
X_train, X_test, y_train, y_test =   train_test_split(X,y,test_size=0.2,random_state=51)

In [34]:
sc=StandardScaler()

In [35]:
sc.fit(X_train)

StandardScaler()

In [36]:
sc.mean_

array([ 2.30617978, 29.55409121,  0.39185393])

In [37]:
sc.scale_

array([ 0.84405789, 12.99162985,  0.79647463])

In [40]:
X_train.describe()

           pclass         age       parch
count  712.000000  712.000000  712.000000
mean     2.306180   29.554091    0.391854
std      0.844651   13.000763    0.797035
min      1.000000    0.420000    0.000000
25%      1.750000   22.000000    0.000000
50%      3.000000   29.699118    0.000000
75%      3.000000   35.000000    0.000000
max      3.000000   71.000000    5.000000

In [42]:
X_train= sc.transform(X_train)
X_test = sc.transform(X_test)

In [43]:
X_train

array([[ 0.8220055 , -0.42751304, -0.49198545],
       [ 0.8220055 ,  1.997125  , -0.49198545],
       [ 0.8220055 , -1.42815732, -0.49198545],
       ...,
       [ 0.8220055 ,  1.41983023,  3.27461284],
       [ 0.8220055 ,  0.01116307,  0.76354731],
       [ 0.8220055 , -0.08113618, -0.49198545]])

In [44]:
X_test

array([[-1.54750023,  0.80404914, -0.49198545],
       [ 0.8220055 ,  0.18826805, -0.49198545],
       [ 0.8220055 ,  0.03432278, -0.49198545],
       [-1.54750023,  0.01116307, -0.49198545],
       [-0.36274737,  0.34221332,  0.76354731],
       [ 0.8220055 ,  0.18826805, -0.49198545],
       [-1.54750023,  1.34285759, -0.49198545],
       [ 0.8220055 , -1.04329413, -0.49198545],
       [-0.36274737,  2.80533768, -0.49198545],
       [-1.54750023, -1.12026677,  0.76354731],
       [-0.36274737,  0.11129541, -0.49198545],
       [-0.36274737, -0.1196225 , -0.49198545],
       [-1.54750023,  1.18891232, -0.49198545],
       [ 0.8220055 , -0.50448568, -0.49198545],
       [ 0.8220055 ,  0.88102177,  5.78567837],
       [-0.36274737, -0.35054041, -0.49198545],
       [-0.36274737,  0.49615859,  2.01908008],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.81237622, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.88934886, -0.49198545],
       [ 0.8220055 , -0.65843095, -0.49198545],
       [-1.54750023,  0.11129541, -0.49198545],
       [ 0.8220055 , -0.9663215 , -0.49198545],
       [-1.54750023, -0.42751304, -0.49198545],
       [ 0.8220055 ,  0.88102177, -0.49198545],
       [-1.54750023,  0.01116307, -0.49198545],
       [ 0.8220055 ,  0.41918596,  0.76354731],
       [-1.54750023, -1.04329413,  0.76354731],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-1.54750023,  2.18955659,  2.01908008],
       [-1.54750023,  1.34285759, -0.49198545],
       [ 0.8220055 ,  0.11129541, -0.49198545],
       [-0.36274737,  0.34221332, -0.49198545],
       [-0.36274737,  0.01116307, -0.49198545],
       [-0.36274737,  0.18826805, -0.49198545],
       [ 0.8220055 ,  0.03432278, -0.49198545],
       [-0.36274737, -0.58145832,  0.76354731],
       [ 0.8220055 ,  3.42111877, -0.49198545],
       [-0.36274737, -0.1196225 , -0.49198545],
       [ 0.8220055 , -0.65843095, -0.49198545],
       [ 0.8220055 ,  0.84253546, -0.49198545],
       [-0.36274737, -1.88999313,  2.01908008],
       [ 0.8220055 , -1.96696577,  2.01908008],
       [-0.36274737,  0.49615859, -0.49198545],
       [-0.36274737, -0.04264986, -0.49198545],
       [ 0.8220055 , -1.04329413, -0.49198545],
       [-1.54750023, -0.1196225 , -0.49198545],
       [ 0.8220055 , -0.35054041, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-1.54750023,  0.49615859, -0.49198545],
       [ 0.8220055 ,  1.65074814, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.42751304, -0.49198545],
       [-1.54750023,  1.5737755 , -0.49198545],
       [-1.54750023, -0.27356777, -0.49198545],
       [ 0.8220055 ,  0.95799441, -0.49198545],
       [ 0.8220055 , -1.19723941, -0.49198545],
       [ 0.8220055 , -0.65843095, -0.49198545],
       [ 0.8220055 ,  1.18891232, -0.49198545],
       [ 0.8220055 ,  1.18891232, -0.49198545],
       [-1.54750023,  0.95799441, -0.49198545],
       [ 0.8220055 , -0.04264986, -0.49198545],
       [ 0.8220055 , -0.1196225 , -0.49198545],
       [ 0.8220055 , -1.04329413, -0.49198545],
       [-0.36274737, -0.50448568, -0.49198545],
       [ 0.8220055 , -1.19723941,  0.76354731],
       [-0.36274737,  0.95799441, -0.49198545],
       [-0.36274737, -0.19659513, -0.49198545],
       [-1.54750023,  0.18826805, -0.49198545],
       [ 0.8220055 , -0.88934886, -0.49198545],
       [-0.36274737, -2.04393841,  0.76354731],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-1.54750023,  2.03561132, -0.49198545],
       [-0.36274737, -2.12091104,  0.76354731],
       [-0.36274737, -0.1196225 , -0.49198545],
       [-1.54750023,  0.65010387, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.88934886, -0.49198545],
       [ 0.8220055 , -0.1196225 , -0.49198545],
       [-0.36274737,  0.03432278, -0.49198545],
       [-1.54750023,  0.03432278, -0.49198545],
       [-0.36274737,  1.26588496, -0.49198545],
       [ 0.8220055 , -1.58210259,  0.76354731],
       [-1.54750023,  0.80404914, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 , -2.12091104,  2.01908008],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  1.03496705, -0.49198545],
       [-0.36274737,  1.88166605, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.35054041,  0.76354731],
       [-1.54750023,  0.11129541, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.04264986, -0.49198545],
       [ 0.8220055 , -1.04329413,  0.76354731],
       [-1.54750023, -0.04264986, -0.49198545],
       [ 0.8220055 ,  0.95799441,  0.76354731],
       [-0.36274737,  2.49744714, -0.49198545],
       [ 0.8220055 ,  0.01116307,  0.76354731],
       [ 0.8220055 ,  0.26524068, -0.49198545],
       [-0.36274737, -0.19659513, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  1.03496705,  7.04121114],
       [ 0.8220055 ,  0.11129541, -0.49198545],
       [ 0.8220055 , -0.35054041, -0.49198545],
       [ 0.8220055 ,  0.49615859,  0.76354731],
       [ 0.8220055 ,  0.18826805, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737, -0.35054041,  2.01908008],
       [-1.54750023,  3.88295459, -0.49198545],
       [ 0.8220055 ,  0.41918596, -0.49198545],
       [-0.36274737, -0.81237622, -0.49198545],
       [ 0.8220055 ,  0.18826805, -0.49198545],
       [-0.36274737, -0.9663215 , -0.49198545],
       [-1.54750023,  2.65139241,  4.53014561],
       [ 0.8220055 , -0.81237622, -0.49198545],
       [ 0.8220055 , -1.15875309, -0.49198545],
       [ 0.8220055 ,  0.95799441, -0.49198545],
       [-1.54750023,  2.49744714, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 , -0.81237622, -0.49198545],
       [-0.36274737, -0.27356777,  0.76354731],
       [ 0.8220055 , -1.04329413, -0.49198545],
       [ 0.8220055 , -0.1196225 , -0.49198545],
       [-1.54750023,  1.11193968,  0.76354731],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737,  0.03432278, -0.49198545],
       [ 0.8220055 , -0.27356777, -0.49198545],
       [ 0.8220055 ,  0.49615859, -0.49198545],
       [-1.54750023,  2.34350187, -0.49198545],
       [ 0.8220055 , -0.88934886, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-0.36274737,  0.01116307, -0.49198545],
       [ 0.8220055 , -1.04329413,  0.76354731],
       [-0.36274737, -2.21096903,  2.01908008],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-1.54750023, -0.58145832, -0.49198545],
       [-0.36274737, -0.04264986, -0.49198545],
       [-1.54750023,  1.22739864, -0.49198545],
       [-0.36274737,  0.34221332, -0.49198545],
       [ 0.8220055 , -0.9663215 ,  0.76354731],
       [ 0.8220055 ,  0.26524068,  0.76354731],
       [ 0.8220055 , -0.19659513, -0.49198545],
       [-0.36274737,  0.41918596, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-1.54750023,  1.88166605,  0.76354731],
       [ 0.8220055 , -1.58210259,  2.01908008],
       [-1.54750023, -0.65843095,  2.01908008],
       [ 0.8220055 , -0.1196225 ,  0.76354731],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [ 0.8220055 , -1.04329413, -0.49198545],
       [-0.36274737, -0.65843095, -0.49198545],
       [ 0.8220055 ,  0.01116307,  0.76354731],
       [ 0.8220055 , -1.58210259,  2.01908008],
       [ 0.8220055 ,  0.57313123, -0.49198545],
       [-1.54750023, -2.12091104,  2.01908008],
       [ 0.8220055 , -0.81237622, -0.49198545],
       [-0.36274737,  1.11193968, -0.49198545],
       [-1.54750023, -0.81237622, -0.49198545],
       [ 0.8220055 , -0.1196225 , -0.49198545],
       [ 0.8220055 , -0.04264986, -0.49198545],
       [-0.36274737,  0.34221332, -0.49198545],
       [-0.36274737,  0.49615859, -0.49198545],
       [ 0.8220055 , -0.65843095, -0.49198545],
       [ 0.8220055 ,  0.01116307, -0.49198545],
       [-1.54750023,  0.01116307, -0.49198545],
       [-1.54750023,  1.95863868, -0.49198545],
       [ 0.8220055 ,  0.11129541, -0.49198545],
       [ 0.8220055 ,  0.01116307,  2.01908008],
       [ 0.8220055 , -0.27356777, -0.49198545],
       [-0.36274737, -0.42751304, -0.49198545],
       [-1.54750023,  0.11129541, -0.49198545],
       [-1.54750023,  0.57313123, -0.49198545]])